/* css for the body, changes the background color and font*/
body{
  background-color: #fdfd96;
  font-family: "Trebuchet MS", sans-serif;
}

/* css for the head*/
.head{

  margin-bottom: 0px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.head h1{
  margin-bottom: 0px;
  margin-top: 0px;
}

.imageContainer{
  margin: 0px 0px 8px 0px;
}

.imageHover{
  margin: 0px 0px 8px 0px;
  text-align: center;
  position: relative;

}

.imageHover:hover .overlay {
  opacity: 1;
}

.javascript{
  text-align: center;
  margin:auto;
  padding-bottom: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(0,0,0,0.8);

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* css for the nav and nav bar*/
.navlist{

  text-align: center;
  margin: auto;
  padding: 0px;
  width: 50%;

}

.children{
  background-color: white;

  position: absolute;
  z-index: 1;
  padding-top: 5px;
  width: 100%;
  display: none;
  padding-left: 0px;
}

.children li{
  margin: 5px;
  list-style: none;
}

.work span{
  display: none;
  border-radius: 2px;
  background: black;
  width: 10px;
  height: 3px;
  margin-bottom: 3px;
  position: relative;
  transition: all .3s ease-out;

}
.work{
  text-align: center;
  position: relative;
  display: block;
}

#button2 {
    display: block;

    position: absolute;
    left: 20px;
    z-index: 2;
    opacity: 0;
  }

  #work-toggle{
    right: 70px;
    top: 10px;
    display: inline-block;
    position: absolute;

  }

 #work-toggle span:nth-child(1){
      transform: rotate(-45deg);
      top: 2px;
  }

 #work-toggle span:nth-child(2){
   transform: rotate(45deg);
  bottom: 4px;
  right: 6px;
  }

  #button2:checked ~ #work-toggle span:nth-child(2){
    right: 0px;
  }


  #button2:checked ~ .children{
    transform: none;
  }


.work:hover .children{
  display: block;
}

.children{
  display: none;
}


.navItems{
  float: left;
  list-style: none;
  text-decoration: none;
  text-align: center;
  width: 33%;
  margin:auto;
  position: relative;
}




.navItems a {
  list-style: none;
  text-decoration: none;
  color: grey;
}

.nav-mobile{
  text-align: center;
}

.nav-mobile #nav-toggle{
  display:none;
}


  #nav-toggle span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 2px;
    background: black;
    z-index: 1;
    transition: all .3s ease-out;
    content: '';
  }

  #nav-toggle{

    padding: 22px 17px;
    display: inline-block;
    position: relative;
    z-index: 3;
  }

#button{
    display: block;

    position: absolute;

    z-index: 2;
    opacity: 0;
  }

  nav #button:checked ~ .navlist{
    transform: none;


  }

  nav #button:checked ~ #nav-toggle span:nth-child(1){
      transform: rotate(-45deg);
      top: 8.5px;

  }
 nav #button:checked ~ #nav-toggle span:nth-child(2){
    opacity: 0;

  }
  nav #button:checked ~ #nav-toggle span:nth-child(3){
      transform: rotate(45deg);
      top:-11px;
  }


/* css for the work title */
.title{
  clear:none;
  margin:auto;
  text-align: center;
  padding-top:20px;
}

/* css for the slideshow on the homepage */
.slides{
  width:100%;
  height:100%;
}

.slides img{
  image-orientation: from-image;
}

/* css for the image grids */
.row {
  z-index: -1;
  position: absolute;
  text-align:center;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
}

.column {
  display:inline-block;
  flex: 33;
  max-height: 70%;
  padding: 0px 4px;
}

.column img {
  width: 100%;
  vertical-align: middle;
}


.container{
  clear: both;
  padding:10px;
  max-height: 50%;
  max-width: 29%;
  padding-top: 50px;
  margin:auto;
  position: absolute;
  left: 13%;
  right:13%;
  z-index: -1;
}

.contact{
  clear: both;
  text-align: center;
  padding-left: 50px;
  margin: auto;
}
.about{
  display: inline-block;
  padding: 25px;
  text-align: center;
  float: left;
  padding-left: 50px;
  margin: auto;
}

.me{
  float:right;
  text-align: center;
  margin-right: 10%;
  margin-top:20px;
}

.aboutme{
  float:left;
  margin-left: 10%;
}

.wrapper{

  text-align: center;
  position: none;
}





/* media query for iphones */

@media(max-width: 500px){
  .test p{
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .title{
    padding: 0px;
  }
  .title h1{
  margin-top: 0px;
  }
  .nav-mobile #nav-toggle{
    display: block;
  }
  .nav{
    width: 100%;
    clear: none;
  }

  .head{
    margin-left: 55px;
    float: right;
    font-size: 100%;
    position: absolute;
    margin-top: 16px;
    width: 80%;
    z-index: 2;
  }

  .navlist{
    padding-top: 130px;
    width: 50%;
    background: lavender;
    z-index: 2;
  }
  .navItems{
    float: none;
    padding: 15px;
    font-size: 20px;
  }
  .nav-mobile{
    width: 100%;
  }
  .navlist{
    position: absolute;
    z-index: 1;
  height: 1000px;
    transform-origin: 0% 0%;
    transform: translate(-150%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    left: -5px;
    margin-top: -100px;
  }
  .children{
      top: 130px;
      z-index: 2;
      position: absolute;
      background: lavender;
      width:inherit;
      transform-origin: 0% 0%;
      display: block;
      transform: translate(-140%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
      left: -40px;
      margin-top: -100px;
    }

    .children li{
      word-wrap: break-word;
      float: none;
      padding: 15px;
      font-size: 20px;
    }



  .work span{
    display: block;
  }

  .column {
   flex: 100%;
   max-width: 100%;
  }
  .hover{
    max-width: 100%;
  }
  .overlay{
    max-width: 100%;
  }
  .container{
    max-width: 100%;
    margin-right: 15px;
    margin-left: 16px;
    padding: 10px;
    clear: both;
    left: 0%;
    right: 0%;
  }
  .about{

    float:none;
    display: block;
    padding: 5px 0px;
  }
  .contact{

    padding: 0px;
    padding-bottom: 20px;
  }
  .me{
    float:none;
    margin: 0px;
  }

  .aboutme{
    margin: 0px;
    float:none;
  }

  .nav-mobile{
    display: inline-block;
  }
}
