@font-face{
    font-family: 'Lora';
    font-style: normal;
    src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

a:hover, button:hover {
    cursor:pointer;
}

ul{
    padding-left: 0;
    list-style: none;
  }

.underline{
    text-decoration: underline;
}

body{
    font-family: 'Lora', Times;
}


.me{
    width: 20%;
    float: right;
    padding-right: 20%;
}

.aboutContent{
    width: 30%;
    padding-top: 5%;
    padding-left: 20%;
    font-size: 25px !important;
    float: left;
}

@media screen and (max-width: 420px){

    h1{
        font-size: 45px !important;
    }
    
    .header{
    width: 100% !important;
    padding: 0 !important;
    margin: auto;
}
.img{
    height: 80% !important;
}
}

.header{
    width: 100% !important;
    align-content: center !important;
    margin: auto !important;
}

.button{
    background: white;
    color: black;
    border-radius: 0;
    border-color: white;
}

.card{
    background: none;
    color: white;
    text-align: center !important;
  
}

.italics{
    font-style: italic;
}

.resumeContent{
    font-size: 15px !important;

}

.content{
   margin: auto;
   padding: 20px 20px 20px 20px;
   border: 1px;
   border-radius: 100%;
   text-align: center;
}

ul{
  padding-left: 0;
}

#toTop{
display: none; /* Hidden by default */
  position: fixed; 
  bottom: 20px;
  right: 45%;
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: orange; 
  color: white;
  cursor: pointer; 
}